@import url("https://use.typekit.net/vji3jzb.css");
@font-face {
    font-family: 'HelveticaNeue';
    src: url('../fonts/HelveticaNeue.ttc') format('truetype');
    font-weight: normal;
}

body,
input,
textarea,
button,
select {
    line-height: 17px
}

.wrapper {
    margin: 0 auto;
    padding: 0px 14px !important;
    display: flex;
    align-self: center;
    justify-content: center;
}

.text-algn {
    display: flex;
    align-self: center;
    justify-content: center;
    line-height: 4;
}

.btn--lashpronew {
    background: #000;
    font-size: 11px !important;
    color: #fff;
    text-transform: uppercase;
    border: 1.8px solid #000;
    font-weight: 600;
    padding: 3px 6px !important;
    display: inline-block;
    width: 100%;
    height: 40px;
}

.btn--lashprobig {
    background: #000;
    font-size: 11px !important;
    color: #fff;
    text-transform: uppercase;
    border: 1.8px solid #000;
    font-weight: 600;
    padding: 3px 6px !important;
    display: inline-block;
    width: 250px;
    height: 50px;
}

.button-sub {
    padding-bottom: 30px;
}

.wrap-b {
    background-color: lightgrey;
    height: 300px;
}

.header {
    height: 50px;
    background: #000;
    z-index: 999;
}

.text-p {
    padding-top: 20px;
}

ul,
li {
    list-style: none;
    text-align: left !important;
}

.social-m {
    padding: 0px;
    & li {
        display: inline-block;
    }
}

.dropdown-headers {
    display: block;
    padding: 3px 0px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #fff;
    padding-bottom: 20px;
    font-family: acumin-pro-condensed, sans-serif;
    font-style: normal;
    letter-spacing: 3px;
}

.dropdown-headerss {
    display: block;
    padding-top: 20px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #fff;
    padding-bottom: 20px;
    font-family: acumin-pro-condensed, sans-serif;
    font-style: normal;
    letter-spacing: 3px;
}

ul li {
    a {
        color: #fff !important;
        text-decoration: none;
        background: transparent;
        text-transform: uppercase;
        font-family: "acumin-pro-condensed", sans-serif;
    }
}


/*css for nav bar only here*/

.mainheader {
    background: #000;
    height: 80px;
    padding: 15px 40px;
    border-bottom: .1px solid #ffffff;
    border-bottom-color: rgb(255, 255, 255);
    border-bottom-style: solid;
    border-bottom-width: 0.1px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 11;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}

.w-100 {
    width: 100%;
}

.fl-left {
    float: left;
}

.fl-right {
    float: right;
}

.header-right {
    margin-top: 2px;
}

.mobilemenu {
    display: none;
}

a {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

a {
    color: inherit;
    text-decoration: none;
}

a {
    background-color: transparent;
}

.logo-wrapper svg {
    width: 230px;
    display: block;
    height: auto;
}

svg:not(:root) {
    overflow: hidden;
}

.a {
    fill: #ffffff !important;
}

.showmobile {
    display: none;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

img {
    vertical-align: middle;
}

img {
    border: 0;
}

.utility-links-wrapper {
    float: right;
}

.utility-links {
    margin: 0;
    padding: 0;
}

.utility-links li {
    display: inline-block;
}

.mainheader .utility-links a {
    text-transform: uppercase;
    color: #ffffff;
    font-family: acumin-pro-condensed, sans-serif;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 3px;
    font-size: 14px;
    margin: 0 15px;
}

.headermenu ul {
    margin: 0;
    padding: 0;
}

.headermenu li {
    display: inline-block;
    vertical-align: top;
    position: relative;
}

.headermenu li:first-child a {
    margin-left: 0;
}

.headermenu a {
    color: #fff;
    font-size: 15px;
    margin: 4px 15px 0;
    display: block;
    text-transform: uppercase;
    font-family: acumin-pro-condensed, sans-serif;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 3px;
    padding-bottom: 8px;
}

.headermenu .sub-menu,
.headermenu .children {
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 1;
    background: #333;
    min-width: 200px;
    display: none;
}

.headermenu ul {
    margin: 0;
    padding: 0;
}

.headermenu .sub-menu a,
.headermenu .children a {
    padding: 6px 15px;
    margin: 0;
    letter-spacing: 2px;
}

.sub-menu li {
    display: block;
}

.headermenu li {
    display: inline-block;
    vertical-align: top;
    position: relative;
}

.headermenu li:first-child a {
    margin-left: 0;
}

.headermenu a:hover {
    color: #949494;
}

.menuright a {
    margin-top: 4px;
    display: block;
    margin-left: 15px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 15px;
    font-family: acumin-pro-condensed, sans-serif;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 3px;
}

.headermenu .sub-menu a,
.headermenu .children a {
    padding: 6px 15px;
    margin: 0;
    letter-spacing: 2px;
}

.menuright li {
    display: inline-block;
}

a:active,
a:hover {
    outline: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}

.headermenu .sub-menu {
    position: absolute;
    left: -30px;
    top: 100%;
    z-index: 1;
    background: #121212;
    min-width: 200px;
    display: none;
}

*,
 :after,
 :before {
    box-sizing: border-box;
}

a:active,
a:hover {
    outline: 0;
}

.headermenu li:first-child a {
    margin-left: 0;
}

.headermenu .sub-menu li:hover a,
.headermenu .children li:hover a {
    background: #444;
}

.headermenu a:hover {
    color: #949494;
}

.header-right {
    margin-top: 8px;
}

.footer-bt {
    border-top: 1px solid #909090;
}

#footer {
    background-color: #121212 !important;
    .navbar-nav {
        a {
            position: relative;
            display: block;
            padding: 10px 15px;
            color: #fff;
        }
        li {
            font-size: 12px;
            font-weight: 700;
            color: #fff;
        }
    }
    .nav>li>a:focus,
    .nav>li>a:hover {
        text-decoration: none;
        background-color: #000 !important;
    }
    .footer-inner {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
}

.copyright-text {
    float: right;
    padding-right: 110px;
    padding-top: 15px;
    color: #fff;
    font-size: 12px;
    font-family: acumin-pro-condensed, sans-serif;
    font-weight: 600;
}

@media only screen and (max-width: 768px) and (min-width: 445px) {}

@media (min-width: 320px) and (max-width: 575px) {
    .squad {
        top: 25%;
        .squad-title {
            font-size: 23px;
        }
        .squad-para {
            font-size: 9px;
        }
    }
}