@import url("https://use.typekit.net/vji3jzb.css");
@font-face {
  font-family: 'HelveticaNeue';
  src: url("../fonts/HelveticaNeue.ttc") format("truetype");
  font-weight: normal;
}

body,
input,
textarea,
button,
select {
  line-height: 17px;
}

h1,
.h1 {
  font-size: 2.30769em;
}

h2,
.h2 {
  font-size: 2.07692em;
}

h3,
.h3 {
  font-size: 1.76923em;
}

h4,
.h4 {
  font-size: 1.46154em;
}

h5,
.h5 {
  font-size: 1.23077em;
}

h6,
.h6 {
  font-size: 1.15385em;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  text-transform: uppercase;
}

h1,
.h1 {
  font-size: 2.30769em;
}

h1,
.h1 {
  font-size: 2.76923em;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  display: block;
  font-family: "acumin-pro-condensed", sans-serif;
  font-weight: 700;
  margin: 0 0 0.5em;
  line-height: 1.4;
  text-rendering: optimizeLegibility;
  letter-spacing: 0;
  text-transform: uppercase;
}

body,
input,
textarea,
button,
select {
  font-size: 13px;
  line-height: 17px;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222323;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
  letter-spacing: 1px;
}

input,
textarea,
select {
  border-color: transparent;
  background-color: #f6f6f6;
  color: #1c1d1d;
  -webkit-transition: opacity 0.4s ease-out;
  transition: opacity 0.4s ease-out;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

.py-5 {
  padding-left: 6rem;
  padding-right: 0;
}

.py-4 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.py-3 {
  padding-top: 4rem;
  padding-bottom: 0rem;
}

.pb-3 {
  padding-bottom: 4rem;
}

ul,
li {
  list-style: none;
}

a {
  color: #222323;
  text-decoration: none;
  background: transparent;
  text-transform: uppercase;
  font-family: "acumin-pro-condensed", sans-serif;
}

a:hover {
  color: #222323;
  text-decoration: none;
}

.terms {
  background-color: #000000;
  color: #ffff;
}

.terms h1 {
  text-align: left;
  padding-top: 30px;
  font-size: 1.30769em;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  margin: 0 0 0.5em;
  line-height: 1.4;
}

h1.homeh1 {
  display: block;
  font-family: "acumin-pro-condensed", sans-serif;
  font-weight: 500 !important;
  line-height: 0.9 !important;
  font-size: 60px !important;
  letter-spacing: 0;
  color: #ffffff !important;
  text-align: center;
}

h1.homeh2 {
  display: block;
  font-family: "acumin-pro-condensed", sans-serif;
  font-weight: 500 !important;
  line-height: 0.5 !important;
  font-size: 10.63636em;
  letter-spacing: 0;
  color: #ffffff !important;
  text-align: center;
}

.bcurl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bcurl span {
  position: relative;
  right: 10px;
  display: inline-block;
  width: 100%;
}

.bcurl .addtocard-btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0;
  color: #ffffff;
  background-color: #000000;
  border-color: #000000;
  -webkit-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
}

.black {
  background-color: #000000;
}

.lash-band {
  height: 50px;
  padding: 15px 0;
  text-align: center;
}

.lash-band p {
  color: #ffffff;
  font-family: "acumin-pro-condensed", sans-serif;
  font-size: 14px;
}

.lash-band p span {
  padding-right: 10px;
  position: relative;
  bottom: 2px;
}

.flex-view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.submit-btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 1rem 8rem;
  font-size: 1.4rem;
  line-height: 1.5;
  border-radius: 0;
  -webkit-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  color: #fff;
  background-color: #000;
  border-color: #000;
}

.sec-last {
  position: relative;
}

.sec-last .signupex p {
  font-size: 2rem;
  border-bottom: 1px solid #ffff;
  display: block;
  padding-bottom: 12px;
  position: absolute;
  top: 65%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.sec-last .signupex button {
  position: absolute;
  top: 85%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.bg-black {
  background-color: #090909 !important;
}

.grid-careers {
  padding: 60px 0;
}

.product-single__title {
  font-size: 2.76923em;
  margin-bottom: 0;
  word-wrap: break-word;
  font-weight: 600;
  text-transform: uppercase;
}

.product_single__subtitle {
  font-weight: 400;
  color: #222323;
  font-size: 1.23077em;
  text-transform: uppercase;
}

.section-header {
  font-size: 2.30769em;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  color: #222323;
  text-align: center;
  padding: 2.5rem 0;
}

img,
iframe {
  max-width: 100%;
}

img.mainbanner {
  width: 100%;
}

.text-center {
  text-align: center;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.p-0 {
  padding: 0 !important;
}

.px-0 {
  padding-left: 0 !important;
}

.px-0 {
  padding-right: 0 !important;
}

.pt-30 {
  padding-top: 30px;
}

.pb-30 {
  padding-bottom: 30px;
}

.product-single__thumbnails {
  margin-left: -10px;
  margin-top: 20px;
  padding-left: 0;
}

.product-single__thumbnails .grid__item {
  padding-left: 10px;
}

.product-single__thumbnails li {
  margin-bottom: 15px;
}

.product-single__thumbnails a {
  display: block;
  position: relative;
  background-color: transparent;
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
}

.product-single__thumbnail {
  padding-top: 2rem;
  display: block;
}

.product-single__thumbnail.active-thumb img {
  border-color: #222323;
}

.product-single__thumbnail img {
  border: 1px solid #ccc;
  padding: 10px 2px;
  cursor: pointer;
}

.product-single__thumbnails img {
  width: auto;
  overflow: hidden;
}

#footer {
  background-color: #000;
  border-top: 1px solid #909090;
}

#footer .navbar-nav a {
  position: relative;
  display: block;
  padding: 10px 15px;
  color: #fff;
}

#footer .navbar-nav li {
  font-size: 12px;
  font-weight: 700;
  color: #fff;
}

#footer .nav > li > a:focus,
#footer .nav > li > a:hover {
  text-decoration: none;
  background-color: #000 !important;
}

#footer .footer-inner {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.align-self {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.login-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.img-fluid {
  max-width: 100%;
  height: auto;
  border: 0 none;
  -o-object-fit: cover;
     object-fit: cover;
  font-family: "object-fit: cover";
}

.w-100 {
  width: 100%;
}

.login-wrapper-inner {
  display: table;
  width: 100%;
  height: 100%;
}

.login-wrapper-module {
  position: relative;
  display: table-cell;
  vertical-align: middle;
}

.form {
  margin: 0;
}

#CustomerLoginForm input {
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  font-weight: 700;
  background: rgba(255, 255, 255, 0.25);
}

#CustomerLoginForm input[type=email] {
  border: transparent;
}

#CustomerLoginForm input[type=password] {
  border: transparent;
}

.form-vertical input {
  display: block;
  margin-bottom: 10px;
}

input.input-full {
  width: 100%;
}

input {
  border-color: transparent;
  line-height: 17px;
  border: 1px solid #1c1d1d;
  max-width: 100%;
  padding: 8px 10px;
  border-radius: 0;
  font-size: 13px;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
}

.hidden-label {
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  position: absolute;
  height: 1px;
  width: 1px;
}

label[for] {
  cursor: pointer;
}

.text-white {
  color: #ffff;
}

.large--one-third {
  width: 33.333% !important;
}

input.btn.btn-login {
  display: block;
  margin: 1.5rem auto;
  width: 50%;
  background: transparent !important;
  border: 1.8px solid #fff;
}

input::-webkit-input-placeholder {
  color: #fff;
}

input:-ms-input-placeholder {
  color: #fff;
}

input::-ms-input-placeholder {
  color: #fff;
}

input::placeholder {
  color: #fff;
}

.login-link {
  padding-left: 0;
}

.login-link a {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.one-half {
  width: 50% !important;
}

.d-flex-justi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.text-center {
  text-align: center !important;
}

.text-banner {
  color: white;
  left: 0;
  position: absolute;
  right: 0;
  top: 0px;
  width: 100%;
}

.txt1 {
  color: #ffffff;
  font-family: "acumin-pro-condensed", sans-serif;
}

.collection-header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.collection-header-module {
  display: table;
  width: 100%;
  height: 100%;
}

.wrapper {
  margin: 0 auto;
  padding: 0 30px;
}

.collection-section-header {
  position: relative;
  display: table-cell;
  vertical-align: middle;
}

.collection-section-header-wrapper {
  width: 45%;
}

.viewcoll {
  top: 2rem;
  bottom: 0;
  vertical-align: 0%;
}

.learn-more {
  position: absolute;
  display: table-cell;
  font-family: "acumin-pro-condensed", sans-serif;
  font-weight: 700;
  bottom: 4%;
  left: 45%;
  letter-spacing: 3px;
}

.learn-more span {
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 1px solid #ffffff;
}

.learn-more span a {
  text-transform: uppercase;
}

.grid {
  list-style: none;
  margin: 0;
  padding: 0;
}

.built {
  font-family: "HelveticaNeue";
}

.grid__item {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  min-height: 1px;
  padding-left: 0px;
  vertical-align: top;
  width: 100%;
}

.review {
  float: left;
  padding-right: 1rem;
}

.pt-16 {
  padding-top: 16px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.socials-header-text {
  margin-top: 20px;
}

.socials-soirees-section {
  padding: 60px 0;
}

.social-chapter-inner h2 {
  text-align: center;
  color: #fff;
  font-size: 90px;
  display: block;
  font-family: "acumin-pro-condensed", sans-serif;
  font-weight: 700;
  padding-top: 3rem;
  margin: 0 0 0.5em 0;
  line-height: 1.4;
  text-rendering: optimizeLegibility;
  letter-spacing: 0;
}

.socials-form-header {
  text-align: center;
  margin-bottom: 60px;
  padding-top: 30px;
  color: #fff;
}

.socials-form-header h2 {
  font-size: 42px;
  display: block;
  font-family: "acumin-pro-condensed", sans-serif;
  font-weight: 700;
  margin: 0 0 0.5em;
  line-height: 1.4;
  text-rendering: optimizeLegibility;
  letter-spacing: 0;
}

.socials-form-text p {
  margin: 0;
}

.socials-form input,
.socials-form textarea {
  width: 100%;
  background: transparent;
  color: #fff;
  opacity: 1;
  margin-bottom: 20px;
  padding: 5px 0;
  background-color: transparent;
  line-height: 17px;
  border-top: 1px solid #1c1d1d00;
  border-left: 1px solid #1c1d1d00;
  border-right: 1px solid #1c1d1d00;
  border-bottom: 1px solid #fff;
  max-width: 100%;
  border-radius: 0;
  -webkit-transition: opacity 0.4s ease-out;
  transition: opacity 0.4s ease-out;
  font-size: 13px;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.socials-form textarea {
  border: 1px solid #fff;
  padding: 10px;
  height: 150px;
}

.socials-form .socials-submit-btn input {
  width: 200px;
  margin: 30px 0;
  padding: 8px !important;
}

.socials-form .submit-button {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.socials-form .btn--white-bg {
  background: #fff;
  color: #000;
  border-radius: 30px;
  font-weight: 800;
}

.m-auto {
  margin: 0 auto;
}

.text-white {
  color: #fff;
}

.squad {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.squad .squad-title {
  font-size: 100px;
  text-transform: uppercase;
  margin: 0 0 5px 0;
  line-height: 1;
  color: #ffffff;
  font-weight: bold;
  font-family: "acumin-pro-condensed", sans-serif;
  text-align: center;
}

.squad .squad-para {
  text-transform: uppercase;
  font-size: 20px;
  line-height: 1;
  color: #ffffff;
  text-align: center;
}

img.responsive-img {
  max-width: 100%;
  height: auto;
  width: 100%;
}

.team-profiles-details {
  padding: 0 15px 20px 15px;
}

.team-profiles-details h2 {
  line-height: 1;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
}

.team-profiles-details h3 {
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 1px;
}

.team-profiles-details a {
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.team-profiles-details img {
  width: 100%;
  height: auto;
  max-width: 100%;
}

.okeReviews-mediaStrip-item {
  width: 120px !important;
  height: 120px !important;
  color: transparent;
  display: inline-block;
  margin-bottom: 0.25em;
  padding: 2rem 2px;
  position: relative;
  vertical-align: middle;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.product-reviews-heading {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 0;
  font-size: 36px;
  padding-right: 2rem;
}

.review-write {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.bt-line {
  border-top: 1px solid #cececf;
}

.starratig {
  display: block;
  position: relative;
  padding-bottom: 30px;
}

.progress-bar-black {
  background-color: #000000 !important;
}

.popup-tt {
  font-size: 12px;
  color: #000;
  font-weight: 600;
  padding-left: 70px;
  padding-top: 10px;
}

.check-m {
  padding-top: 20px;
  color: black;
  font-size: 12px;
}

.blockline-left {
  float: left;
  padding-right: 15px;
}

.blockline-right {
  float: right;
  padding-left: 15px;
}

.review-tt {
  color: #000;
  font-size: 12px;
}

.contentbox-p {
  padding: 40px 0px;
}

.r-count {
  padding: 0px 20px 15px;
}

.str-review .fa {
  font-size: 36px !important;
  padding: 50px 0px 25px;
}

.str-c {
  text-align: center;
  position: relative;
  top: 5rem;
}

.filter-r {
  float: right;
  padding-right: 30px;
}

.bt-filter {
  color: black;
  border: none;
  background-color: white;
  font-size: 15px;
  padding-right: 16px;
  text-transform: capitalize;
  border-right: 1px solid gray;
}

.dropdown-clr {
  background-color: #ffffff !important;
}

.bt-sort {
  color: black;
  border: none;
  background-color: white;
  font-size: 15px;
  padding-right: 6px;
  text-transform: capitalize;
}

.date-t {
  float: right;
  padding-right: 20px;
}

.button5 {
  background-color: white;
  border: none;
  color: black;
  padding: 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  width: 51px;
  border: 1px solid black;
}

.button5 {
  border-radius: 29px !important;
}

.container-r img {
  float: left;
  border-radius: 50% !important;
  margin-top: 10px;
  border: 1px solid black;
}

.container-r {
  height: 100px;
}

.bt-clr {
  display: inline-block;
  padding: 8px 10px;
  margin: 0;
  width: auto;
  line-height: 1.42;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  white-space: normal;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 0;
  background-color: #000;
  color: #fff;
}

.review-drop {
  margin: 0px;
  padding: 0px;
}

.review-drop li {
  list-style: none;
  text-align: left !important;
  margin: 5px 0px;
}

.b-style {
  float: right;
  padding-right: 20px;
}

.b-style .bb-r {
  background-color: #fff;
  /* color: beige; */
  color: black;
  height: 32px;
  border: 1px solid black;
  border-radius: 6px !important;
  margin-right: 10px;
}

.container-r span {
  font-size: 20px;
}

a.writeareview {
  background: black !important;
  border: 1px solid #000 !important;
  color: #ffffff !important;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  border-radius: 25px !important;
  padding: 6px 40px !important;
  cursor: pointer;
}

.sugarlashreview .fa {
  font-size: 14px;
}

.back-shop-product-button {
  border-top: 1px solid #000000;
  padding: 25px 0 25px;
}

.back-shop-product-button .btn {
  font-size: 1.18182em;
}

.btn.add-to-cart {
  padding: 10px 60px;
}

.btn.btn-transparent {
  color: #000;
  background: transparent;
  border-color: #000;
}

.btn {
  display: inline-block;
  padding: 8px 10px;
  margin: 0;
  width: auto;
  line-height: 1.42;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  white-space: normal;
  cursor: pointer;
  border: 1px solid transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0;
  background-color: #000;
  color: #fff;
  -webkit-transition: background-color 0.4s ease-out;
  transition: background-color 0.4s ease-out;
}

.btn--collection {
  margin-top: 25px !important;
  background: #fff !important;
  color: #000 !important;
}

.btn,
.btn--secondary {
  font-family: "acumin-pro-condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 6px 12px;
  font-size: 1em;
  border-radius: 50px;
}

.btn-lash {
  background: #fff !important;
  color: #000 !important;
  padding: 2px 4px !important;
  position: relative;
  top: 12px;
}

.headermenu .sub-menu {
  position: absolute;
  left: -30px;
  top: 100%;
  z-index: 1;
  background: #121212;
  min-width: 200px;
  display: none;
}

.sub-menu li {
  display: block;
  color: #fff;
  padding: 10px 0;
}

.sub-menu li a {
  color: #fff;
}

.headermenu .sub-menu a {
  padding: 6px 15px;
  margin: 0;
  letter-spacing: 2px;
}

.headermenu li:hover > .sub-menu {
  display: block;
}

.text-left {
  text-align: left;
}

.font-weight-400 {
  font-weight: 400;
}

.color-c1 {
  color: #0b5394;
}

.bt-d-1 {
  border-top: dotted 1px;
}

.rte h2,
.rte .h2,
.rte h3,
.rte .h3 {
  margin-top: 2.5em;
  margin-bottom: 2em;
}

.rte .text-link {
  border-bottom: 1px solid #fff;
}

.rte a,
.text-link {
  color: #969696;
  border-bottom: 1px solid #969696;
}

.rte a {
  text-decoration: none;
}

.text-link {
  display: inline;
  border: 0 none;
  background: none;
  padding: 0;
  margin: 0;
}

.collection-hero__image-wrapper {
  position: relative;
  height: 100%;
}

.collection-section-header .rte {
  line-height: 19px;
}

.collection-section-header h1,
.collection-section-header .h1 {
  font-size: 10.63636em;
  font-weight: bold;
  line-height: 100px;
}

.collection-section-header h1,
.collection-section-header .h1,
.collection-section-header {
  color: #fff;
  text-transform: uppercase;
}

.product-form-inner-wrapper {
  border-top: 1px solid #000;
  padding-top: 10px;
  border-bottom: 1px solid #000;
  padding-bottom: 40px;
}

.header {
  height: 50px;
  background: #000;
  z-index: 999;
}

.collection-menu-inner {
  text-align: center;
  min-width: 100%;
  overflow-x: auto;
  overflow-y: scroll;
  white-space: nowrap;
  padding: 15px 0;
  height: 50px;
}

.site-nav__item {
  white-space: normal;
}

.site-nav__item {
  position: relative;
  display: inline-block;
  margin: 0;
}

.site-nav__item a:hover {
  color: #ffffff;
}

.collection-menu-inner .site-nav--active a {
  text-decoration: underline;
}

.collection-menu-inner .site-nav__link {
  font-weight: bold;
}

ul.collection-submenu-holder li a {
  font-weight: normal;
  font-size: 80%;
}

.site-nav__link {
  font-family: "acumin-pro-condensed", sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  font-size: 15px;
  font-weight: 600;
}

.site-nav__link {
  display: inline-block;
  text-decoration: none;
  padding: 0 15px;
  white-space: nowrap;
  color: #fff;
  font-size: 1.07692em;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.grid-product__title {
  font-family: "acumin-pro-condensed", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 19px;
  margin: 0;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.centered h2 {
  text-align: center;
  padding-top: 30px;
  color: #fff;
  font-size: 10em;
  letter-spacing: 3px;
  line-height: 1;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 !important;
  display: block;
  font-family: "acumin-pro-condensed", sans-serif;
}

.centered p {
  color: #fff;
  margin: 0 0 15px 0;
  text-align: center;
  line-height: 17px;
  font-size: 13px;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.career-details-wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
}

.career-details-wrapper .career-details-inner h2.career-heading {
  padding: 0;
  color: #fff;
  margin: 0;
  text-transform: uppercase;
  font-size: 2.07692em;
  display: block;
  font-family: "acumin-pro-condensed", sans-serif;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: 0;
}

.career-details-wrapper .career-details-inner h5.career-subtitle1 {
  font-weight: 400;
  text-decoration: underline;
  color: #fff;
  margin: 0;
  font-size: 1.23077em;
  display: block;
  font-family: "acumin-pro-condensed", sans-serif;
  cursor: pointer;
  line-height: 1.4;
  letter-spacing: 0;
}

.career-details-wrapper.desktop-right {
  border-left: 1px solid #fff;
  padding-left: 15%;
}

.career-details-wrapper.desktop-right h2,
.career-details-wrapper.desktop-right h5,
.career-details-wrapper.desktop-right p,
.career-details-wrapper.desktop-right li {
  color: #ffff;
}

.tabcontent {
  display: none;
}

#London {
  display: block;
}

.career-description {
  margin-top: 20px;
}

.career-responsibilities,
.career-qualifications,
.career-directions {
  padding: 10px 0;
}

.career-responsibilities li,
.career-qualifications li {
  list-style: initial;
  margin: 10px 0;
}

.btn.btn-white-bg {
  background: #fff;
  border: 1.8px solid #fff;
  color: #000;
}

.money {
  white-space: nowrap;
  display: block;
  font-family: "acumin-pro-condensed", sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.product-single__price {
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #222323;
  font-size: 1.38462em;
  padding: 12px 0;
}

.product_single__subtitle-collection {
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 0;
}

.card {
  position: relative;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.card.home-page {
  padding: 0 5rem;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.card.home-page img {
  height: 20rem;
}

.pt-5 {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}

.pt-10 {
  padding-top: 10rem;
  padding-bottom: 3.5rem;
}

.card-img-top {
  width: 100%;
  border-top-left-radius: calc(.25rem - 1px);
  border-top-right-radius: calc(.25rem - 1px);
}

.card-body {
  -ms-flex: 1 1 auto;
  -webkit-box-flex: 1;
          flex: 1 1 auto;
  padding: 1.25rem;
}

.card-title {
  margin-bottom: .75rem;
}

.navbar-inverse {
  background-color: #000;
  border-color: #000;
}

.navbar-inverse .navbar-nav > li > a {
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
}

.navbar {
  border-radius: 0px;
}

.navbar {
  margin-bottom: 0px;
  border-bottom: 1px solid #919294;
}

.navbar-nav li {
  font-size: 14px;
  font-weight: bold;
}

.dropdown-menu {
  background-color: #121212;
  font-family: "acumin-pro-condensed", sans-serif;
}

.mega-dropdown {
  position: static !important;
}

.mega-dropdown-menu {
  padding: 20px 0px;
  width: 100%;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.mega-dropdown-menu li {
  font-size: 14px;
  font-weight: normal;
}

.mega-dropdown-menu .border-left {
  border-right: 1px solid #ffffff;
}

.mega-dropdown-menu > li > ul {
  padding: 0;
  margin: 0;
  font-family: "acumin-pro-condensed", sans-serif;
}

.mega-dropdown-menu > li > ul > li {
  list-style: none;
  font-family: "acumin-pro-condensed", sans-serif;
}

.mega-dropdown-menu > li > ul > li > a {
  display: block;
  color: white;
  font-family: "acumin-pro-condensed", sans-serif;
  padding: 3px 5px;
  padding: 8px 5px;
  font-size: 14px;
}

.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
  text-decoration: none;
}

.mega-dropdown-menu .dropdown-header {
  font-size: 14px;
  color: white;
  padding: 5px 60px 5px 5px;
  line-height: 1.4;
  font-family: "acumin-pro-condensed", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.socials-chapter {
  background-size: cover !important;
}

.socials-chapter-text p {
  color: #ffff;
  margin: 0;
}

.carousel-control {
  width: 30px;
  height: 30px;
  top: -35px;
}

.left.carousel-control {
  right: 30px;
  left: inherit;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
  font-size: 12px;
  background-color: #fff;
  line-height: 30px;
  text-shadow: none;
  color: #333;
  border: 1px solid #ddd;
}

.mega-menu-images img:last-child {
  padding-left: 5px;
}

.mega-menu-images img:first-child {
  padding-right: 5px;
}

.mega-menu-images img {
  width: 50%;
  float: left;
}

img,
iframe {
  max-width: 100%;
}

.newsletter__label {
  padding-right: 15px;
  float: left;
  font-size: 14px;
  margin-top: 12px;
  font-family: "acumin-pro-condensed", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}

input,
textarea,
select {
  border: 1px solid #1c1d1d;
  max-width: 100%;
  padding: 8px 10px;
  border-radius: 0;
}

.form-control:focus {
  border-color: none;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.input-group-field {
  float: left;
  width: 58.9% !important;
  background: transparent;
  color: #fff;
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid #fff;
  height: 30px;
  -webkit-transition: opacity 0.4s ease-out;
  transition: opacity 0.4s ease-out;
}

.btn--lashpro {
  background: transparent;
  font-size: 11px !important;
  color: #fff;
  text-transform: uppercase;
  border: 1.8px solid #fff;
  font-weight: 600;
  padding: 3px 6px !important;
  border-radius: 25px;
  display: inline-block;
}

.btn--lashpro.btn-socials {
  margin: 10px 0px !important;
}

.banner .about-banner {
  position: relative;
  height: auto;
  display: block;
  width: 100%;
  max-width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.copyright-module {
  text-align: left;
  margin: 0px;
}

.copyright-module ul,
.copyright-module ol {
  margin: 0 0 15px 20px;
  padding: 0;
  text-rendering: optimizeLegibility;
}

.copyright-module .social-icons li {
  display: inline-block;
  padding: 0 5px;
}

.copyright-module li {
  margin-bottom: 0.25em;
  font-family: "acumin-pro-condensed", sans-serif;
}

.copyright-module .social-icons,
.copyright-module .copyright-footer {
  display: inline-block;
}

.copyright-module .no-bullets {
  list-style: none outside;
  margin: 0px 0 0 10rem;
}

.copyright-module .copyright-footer {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: "acumin-pro-condensed", sans-serif;
  font-size: 92%;
  color: #fff;
}

.copyright-module .copyright-footer a {
  color: #fff;
}

.copyright-module .site-footer a {
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  font-family: "acumin-pro-condensed", sans-serif;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1px;
}

.copyright-module .fa {
  padding-right: 4px;
  font-size: 10px;
  color: #fff;
}

.breadcrumb {
  text-transform: uppercase;
  padding: 0;
  background-color: #ffff;
}

.breadcrumb a {
  font-size: 14px;
  font-weight: 600;
}

.main-content {
  display: block;
  padding-top: 30px;
}

.single-option-radio {
  border: 0;
  padding-top: 0;
  position: relative;
  background-color: #fff;
}

fieldset {
  padding: 15px 0;
}

.single-option-radio input {
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  position: absolute;
  height: 1px;
  width: 1px;
}

input[type="radio"] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
}

input[type="checkbox"],
input[type="radio"] {
  margin: 0 10px 0 0;
  padding: 0;
}

.single-option-radio input[type='radio']:checked + label {
  border-color: #222323;
  background: #000;
  color: #fff;
}

.single-option-radio label {
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  padding: 3px 5px 2px;
  margin: 4px 2px 4px 2px;
  font-size: 1em;
  font-style: normal;
  background-color: #fff;
  border: 1.8px solid #000;
  color: #222323;
  border-radius: 50px;
  letter-spacing: 1px;
}

label[for] {
  cursor: pointer;
}

.product-single__quantity {
  border-bottom: 1px solid #000;
  padding-bottom: 40px;
}

.product-single__quantity {
  margin-top: 10px;
}

.product-single__quantity-label,
.single-option-radio__label {
  padding-bottom: 10px;
  display: block;
}

.product-single__quantity-label {
  margin-right: 10px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
}

#quantity-button {
  border: 0;
  padding-top: 0;
  position: relative;
}

#quantity-button input {
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  position: absolute;
  height: 1px;
  width: 1px;
  -webkit-appearance: button;
}

#quantity-button input[type='radio']:checked + label {
  border-color: #222323;
  background: #000;
  color: #fff;
}

#quantity-button label {
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  padding: 2px;
  width: 25px;
  text-align: center;
  margin: 4px;
  font-size: 1em;
  font-style: normal;
  background-color: #fff;
  border: 1.8px solid #000;
  color: #222323;
  border-radius: 50px;
}

.product-single__add-to-cart {
  margin: 40px 0 10px;
  display: inline-block;
}

.product-single__description {
  margin-top: 10px;
  text-align: left;
  padding: 20px 0;
  text-transform: uppercase;
  margin-bottom: 0;
}

.panel-group .panel {
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #ffffff;
}

.panel-default > .panel-heading {
  padding: 0;
  border-radius: 0;
  color: #212121;
  background-color: #ffffff;
  border-color: #ffffff;
}

.height-2 {
  height: 4rem !important;
}

.panel-title {
  font-size: 14px;
}

.panel-title a {
  display: block;
  padding: 15px 0;
  text-decoration: none;
}

.more-less {
  float: right;
  color: #212121;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #EEEEEE;
}

.accordion-content {
  border-bottom: 1px solid #909090;
  padding-bottom: 12px;
  margin-bottom: 0;
}

.image-container img {
  width: 100%;
}

.press-hero {
  position: relative;
  height: 600px;
  display: table;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.press-header-module {
  display: table;
  width: 100%;
  height: 100%;
}

.press-hero__inner {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  color: #fff;
  z-index: 1;
}

.press-content-inner .grid__clear:nth-child(2n+1) {
  clear: both;
}

.press-hero__inner h1 {
  font-size: 120px;
  color: #fff;
}

.archive a,
.archive h3,
.archive h4 {
  color: #fff;
  line-height: 22px;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.archive {
  background: #000;
  padding: 60px 0;
}

.pressh3 {
  font-size: 1.76923em !important;
  color: #fff;
  line-height: 22px !important;
  display: block;
  font-family: "acumin-pro-condensed", sans-serif !important;
  font-weight: 700 !important;
}

.no-margin {
  margin: 0 !important;
}

.press-info-wrapper {
  padding: 15px 0;
}

.press-info-wrapper img {
  width: auto;
  height: 36px;
}

.press-info-wrapper h4 {
  font-size: 16px;
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: block;
  font-family: "acumin-pro-condensed", sans-serif;
  font-weight: 700;
  margin: 0 0 0.5em;
  line-height: 1.4;
  text-rendering: optimizeLegibility;
}

.press-info-wrapper a {
  font-size: 16px;
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
}

.collection-hero__image-wrapper img {
  -o-object-fit: cover;
     object-fit: cover;
  font-family: "object-fit: cover";
}

@media (min-width: 768px) {
  .navbar {
    border-radius: 0px;
  }
}

@media (max-width: 576px) {
  .d-sm-none {
    display: none;
  }
  .grid__item.one-whole span {
    font-size: 10px;
  }
  .btn,
  .btn--secondary {
    font-size: 10px;
  }
}

@media (max-width: 768px) {
  .d-sm-none {
    display: none;
  }
  .grid__item.one-whole span {
    font-size: 10px;
  }
}

@media (max-width: 992px) {
  .d-sm-none {
    display: none;
  }
  .grid__item.one-whole span {
    font-size: 10px;
  }
  .btn,
  .btn--secondary {
    font-size: 10px;
  }
}

@media (min-width: 1201px) and (max-width: 1400px) {
  .container {
    width: 1400px;
  }
}

@media (min-width: 1401px) and (max-width: 1600px) {
  .container {
    width: 1400px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .squad {
    top: 30%;
  }
  .squad .squad-title {
    font-size: 35px;
  }
  .squad .squad-para {
    font-size: 12px;
  }
  .collection-section-header h1,
  .collection-section-header .h1 {
    margin: 0;
    font-size: 5.23077em !important;
  }
  .socials-module .social-sm {
    position: relative;
    bottom: 10rem;
  }
  .socials-module .collection-section-header h1 {
    font-size: 4em !important;
  }
  .social-chapter-inner h2 {
    font-size: 40px;
  }
}

@media (min-width: 320px) and (max-width: 575px) {
  .squad {
    top: 25%;
  }
  .squad .squad-title {
    font-size: 23px;
  }
  .squad .squad-para {
    font-size: 9px;
  }
  .collection-section-header h1,
  .collection-section-header .h1 {
    margin: 0;
    font-size: 3.23077em !important;
  }
  .socials-module .social-sm {
    position: relative;
    bottom: 20rem;
  }
  .socials-module .social-sm p {
    font-size: 9px;
  }
  .socials-module .social-sm .socials-header-text {
    margin-top: 0;
  }
  .socials-module .collection-section-header h1 {
    font-size: 3em !important;
    line-height: 40px;
  }
  .social-chapter-inner h2 {
    font-size: 40px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .socials-module .collection-section-header h1 {
    font-size: 5em !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .collection-section-header h1,
  .collection-section-header .h1 {
    margin: 0;
    font-size: 5em !important;
  }
}
/*# sourceMappingURL=style.css.map */