@import url("https://use.typekit.net/vji3jzb.css");
@font-face {
  font-family: 'HelveticaNeue';
  src: url("../fonts/HelveticaNeue.ttc") format("truetype");
  font-weight: normal;
}

body,
input,
textarea,
button,
select {
  line-height: 17px;
}

.wrapper {
  margin: 0 auto;
  padding: 0px 14px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.text-algn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 4;
}

.btn--lashpronew {
  background: #000;
  font-size: 11px !important;
  color: #fff;
  text-transform: uppercase;
  border: 1.8px solid #000;
  font-weight: 600;
  padding: 3px 6px !important;
  display: inline-block;
  width: 100%;
  height: 40px;
}

.btn--lashprobig {
  background: #000;
  font-size: 11px !important;
  color: #fff;
  text-transform: uppercase;
  border: 1.8px solid #000;
  font-weight: 600;
  padding: 3px 6px !important;
  display: inline-block;
  width: 250px;
  height: 50px;
}

.button-sub {
  padding-bottom: 30px;
}

.wrap-b {
  background-color: lightgrey;
  height: 300px;
}

.header-f {
  height: 50px;
  background: #000;
  z-index: 999;
}

.text-p {
  padding-top: 20px;
}

.vissible-h {
  visibility: hidden;
}

.social-m,
li {
  list-style: none;
  text-align: left !important;
}

.social-m {
  padding: 0px;
}

.social-m li {
  display: inline-block;
}

.dropdown-headers {
  display: block;
  padding: 3px 0px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #fff;
  padding-bottom: 20px;
  font-family: acumin-pro-condensed, sans-serif;
  font-style: normal;
  letter-spacing: 3px;
}

.dropdown-headerss {
  display: block;
  padding-top: 20px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #fff;
  padding-bottom: 20px;
  font-family: acumin-pro-condensed, sans-serif;
  font-style: normal;
  letter-spacing: 3px;
}

.social-f li a {
  color: #fff !important;
  text-decoration: none;
  background: transparent;
  text-transform: uppercase;
  font-family: "acumin-pro-condensed", sans-serif;
}

/*css for nav bar only here*/
.mainheader {
  background: #000;
  height: 80px;
  padding: 15px 40px;
  border-bottom: .1px solid #ffffff;
  border-bottom-color: white;
  border-bottom-style: solid;
  border-bottom-width: 0.1px;
  position: relative;
  left: 0;
  top: 0;
  right: 0;
  z-index: 11;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

.w-100 {
  width: 100%;
}

.fl-left {
  float: left;
}

.fl-right {
  float: right;
}

.header-right {
  margin-top: 2px;
}

.mobilemenu {
  display: none;
}

.logo-wrapper svg {
  width: 230px;
  display: block;
  height: auto;
}

svg:not(:root) {
  overflow: hidden;
}

.a {
  fill: #ffffff !important;
}

.showmobile {
  display: none;
}

img {
  max-width: 100%;
  height: auto;
}

img {
  vertical-align: middle;
}

img {
  border: 0;
}

.utility-links-wrapper {
  float: right;
}

.utility-links {
  margin: 0;
  padding: 0;
}

.utility-links li {
  display: inline-block;
}

.mainheader .utility-links a {
  text-transform: uppercase;
  color: #ffffff;
  font-family: acumin-pro-condensed, sans-serif;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 3px;
  font-size: 14px;
  margin: 0 15px;
}

* {
  border-radius: 0 !important;
}

.headermenu ul {
  margin: 0;
  padding: 0;
}

.headermenu li {
  display: inline-block;
  vertical-align: top;
  position: relative;
}

.headermenu li:first-child a {
  margin-left: 0;
}

.headermenu a {
  color: #fff;
  font-size: 15px;
  margin: 4px 15px 0;
  display: block;
  text-transform: uppercase;
  font-family: 'acumin-pro-condensed', sans-serif;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 3px;
  padding-bottom: 8px;
}

.headermenu .sub-menu,
.headermenu .children {
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 1;
  background: #333;
  min-width: 200px;
  display: none;
}

.headermenu ul {
  margin: 0;
  padding: 0;
}

.headermenu .sub-menu a,
.headermenu .children a {
  padding: 6px 15px;
  margin: 0;
  letter-spacing: 2px;
}

.sub-menu li {
  display: block;
}

.headermenu li {
  display: inline-block;
  vertical-align: top;
  position: relative;
}

.headermenu li:first-child a {
  margin-left: 0;
}

.headermenu a:hover {
  color: #949494;
}

.clr-text p {
  color: white;
}

.p-top {
  padding-top: 30px;
}

.menuright a {
  margin-top: 4px;
  display: block;
  margin-left: 15px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 15px;
  font-family: acumin-pro-condensed, sans-serif;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 3px;
}

.headermenu .sub-menu a,
.headermenu .children a {
  padding: 6px 15px;
  margin: 0;
  letter-spacing: 2px;
}

.menuright li {
  display: inline-block;
}

a:active,
a:hover {
  outline: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

.headermenu .sub-menu {
  position: absolute;
  left: -30px;
  top: 100%;
  z-index: 1;
  background: #121212;
  min-width: 200px;
  display: none;
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a:active,
a:hover {
  outline: 0;
}

.headermenu li:first-child a {
  margin-left: 0;
}

.headermenu .sub-menu li:hover a,
.headermenu .children li:hover a {
  background: #444;
}

.headermenu a:hover {
  color: #949494;
}

.header-right {
  margin-top: 8px;
}

.footer-bt {
  border-top: 1px solid #909090;
}

#lash-footer {
  background-color: #121212 !important;
}

#lash-footer .navbar-nav a {
  position: relative;
  display: block;
  padding: 10px 15px;
  color: #fff;
}

#lash-footer .navbar-nav li {
  font-size: 12px;
  font-weight: 700;
  color: #fff;
}

#lash-footer .nav > li > a:focus,
#lash-footer .nav > li > a:hover {
  text-decoration: none;
  background-color: #000 !important;
}

#lash-footer .footer-inner {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.pt-5 {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}

.bcurl .addtocard-btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0;
  color: #ffffff;
  background-color: #000000;
  border-color: #000000;
  -webkit-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
}

.addtocardpopup-btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  width: 100%;
  height: 33px;
  margin: 28px auto;
  line-height: 1.5;
  border-radius: 0;
  color: #ffffff;
  background-color: #000000;
  border-color: #000000;
  -webkit-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
}

.selectdiv {
  position: relative;
  /*Don't really need this just for demo styling*/
  float: left;
}

.selectdiv:after {
  content: '\f078';
  font: normal normal normal 17px/1 FontAwesome;
  color: #fff;
  right: 1px;
  top: 1px;
  height: 30px;
  border-left: 1px solid gray;
  position: absolute;
  pointer-events: none;
  background-color: #000;
  width: 25px;
  line-height: 2.5;
  text-align: center;
  font-size: 12px;
}

.positn-img {
  position: relative;
  top: 5rem;
}

/* IE11 hide native button (thanks Matt!) */
.selectdiv .select-bt {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Add some styling */
  display: block;
  width: 100%;
  max-width: 320px;
  float: right;
  height: 31px;
  font-size: 13px;
  color: #333;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid gray;
  -ms-word-break: normal;
  word-break: normal;
}

.bcurl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bcurl span {
  position: relative;
  right: 10px;
  display: inline-block;
  width: 100%;
}

.card.home-page img {
  height: 20rem;
}

.submit-btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 1rem 8rem;
  font-size: 1.4rem;
  line-height: 1.5;
  border-radius: 0;
  -webkit-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  color: #fff;
  background-color: #000;
  border-color: #000;
}

.lash-band {
  height: 50px;
  padding: 15px 0;
  text-align: center;
}

.lash-band p {
  color: #ffffff;
  font-family: "acumin-pro-condensed", sans-serif;
  font-size: 14px;
}

.lash-band p span {
  padding-right: 10px;
  position: relative;
  bottom: 2px;
}

.card-body {
  -ms-flex: 1 1 auto;
  -webkit-box-flex: 1;
  flex: 1 1 auto;
  padding: 1.25rem;
}

.thumbnail {
  border: none !important;
  margin: inherit;
}

.copyright-text {
  float: right;
  padding-right: 110px;
  padding-top: 15px;
  color: #fff;
  font-size: 12px;
  font-family: acumin-pro-condensed, sans-serif;
  font-weight: 600;
}

.popup-t {
  color: black;
  font-weight: 600;
  font-size: 10px;
  padding: 0px 0px 20px;
}

.btn-s {
  background-color: #000;
  color: #fff;
}

@media (min-width: 320px) and (max-width: 575px) {
  .squad {
    top: 25%;
  }
  .squad .squad-title {
    font-size: 23px;
  }
  .squad .squad-para {
    font-size: 9px;
  }
  h1.homeh2 {
    display: block;
    font-family: "acumin-pro-condensed", sans-serif;
    font-weight: 500 !important;
    line-height: 0.5 !important;
    font-size: 3.63636em;
    letter-spacing: 0;
    color: #ffffff !important;
    text-align: center;
  }
  .lash-band {
    height: 113px !important;
    padding: 15px 0;
    text-align: center;
  }
  h1.homeh2 {
    display: block;
    font-family: "acumin-pro-condensed", sans-serif;
    font-weight: 500 !important;
    line-height: 0.5 !important;
    font-size: 3.63636em;
    letter-spacing: 0;
    color: #ffffff !important;
    text-align: center;
    padding-bottom: 60px !important;
  }
  .sec-last .signupex p {
    font-size: 1.2rem;
    border-bottom: 1px solid #ffff;
    display: block;
    padding-bottom: 12px;
    position: absolute;
    top: 65%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 85%;
    padding-bottom: 38px;
  }
  .bt-sub {
    font-size: 10px;
    text-align: center;
    height: 30px;
    line-height: 0;
  }
  .social-f li a {
    color: #fff !important;
    text-decoration: none;
    background: transparent;
    text-transform: uppercase;
    font-family: "acumin-pro-condensed", sans-serif;
    padding-left: 38px;
    font-weight: 500;
  }
  .dropdown-headers {
    display: block;
    padding: 5px 36px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #fff;
    padding-bottom: 20px;
    font-family: acumin-pro-condensed, sans-serif;
    font-style: normal;
    letter-spacing: 3px;
  }
  .social-m,
  li {
    list-style: none;
    text-align: left !important;
  }
  .social-m {
    padding: 0px;
    padding-top: 31px;
  }
  .product-reviews-heading {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 0;
    font-size: 25px;
    text-align: center;
    padding-bottom: 13px;
  }
  a.writeareview {
    background: black !important;
    border: 1px solid #000 !important;
    color: #ffffff !important;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    border-radius: 25px !important;
    padding: 6px 40px !important;
    cursor: pointer;
    margin-bottom: 15px;
  }
  .str-c {
    text-align: center;
    position: relative;
    top: 0rem;
  }
  .filter-r {
    float: right;
    padding-right: 0px;
  }
  .b-style {
    float: right;
    padding-right: 0px;
  }
  .vissible-h {
    visibility: hidden;
    display: none;
    /* padding: 35px 0px; */
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .collection-section-header h1,
  .collection-section-header .h1 {
    margin: 0;
    font-size: 3em !important;
  }
  .lash-band p {
    color: #ffffff;
    font-family: "acumin-pro-condensed", sans-serif;
    font-size: 12px !important;
  }
  h1.homeh2 {
    display: block;
    font-family: "acumin-pro-condensed", sans-serif;
    font-weight: 500 !important;
    line-height: 0.5 !important;
    font-size: 5.63636em !important;
    letter-spacing: 0;
    color: #ffffff !important;
    text-align: center;
    padding-bottom: 40px;
  }
  .sec-last .signupex p {
    font-size: 1.5rem;
    border-bottom: 1px solid #ffff;
    display: block;
    padding-bottom: 12px;
    position: absolute;
    top: 65%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .collection-section-header h1,
  .collection-section-header .h1 {
    margin: 0;
    font-size: 3em !important;
  }
}
/*# sourceMappingURL=style-1.css.map */